.App-body {
  background-image: url("../../assets/demacia-vice-lucian-lol-splash-art.jpg");
  background-color: #e95656;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: ivory;
  display: flex;
  flex-direction: column;
}

.PageNotFound-message {
  color: blue;
}
